<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/anirban.santra.3975"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/anirban4555/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/anirban-santra-333074239/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div> &copy;Wanderlust private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>