<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="alert alert-danger d-flex align-items-center col-6 offset-1" role="alert">
        <i class="fa-solid fa-triangle-exclamation" style="margin-right: 1rem; font-size:2rem;"></i>      
        <p class="alert-heading" style="margin-top: 1rem;"><%= err.message %></p>
    </div>
</div>
